/vendor
/node_modules
/public/storage
/public/build
/public/hot
/storage/*.key
/storage/pail
/.env
/.env.backup
/.env.production
/.phpunit.cache
/npm-debug.log
/yarn-error.log
/.idea
/.vscode
/.fleet
/.nova
.DS_Store
Thumbs.db
*.bak-*
*.bak
*.log
